In [1]:
from sklearn import preprocessing
import pandas as pd
df = pd.read_csv("master.csv")
df['GDP'] = df['gdp_for_year ($)'].str.replace(",", "")
df['GDP'] = df['GDP'].astype(int)
df = df.drop("HDI for year", 1)
df = df.drop("gdp_for_year ($)", 1)
df['GDP_per_capita'] = df['gdp_per_capita ($)']
df = df.drop("gdp_per_capita ($)", 1)
data_df = df[['year','sex','age','GDP', 'GDP_per_capita', 'generation']]
min_max_scaler = preprocessing.MinMaxScaler()
X = data_df
Y = df['suicides/100k pop']
X_minmax = min_max_scaler.fit_transform(X)

In [2]:
import pandas as pd
df = pd.read_csv("master.csv")

In [3]:
data_df = df[['country','year','sex','age','GDP', 'GDP_per_capita', 'generation']]

KeyError: "['GDP_per_capita', 'GDP'] not in index"

In [4]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,0,2,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,4
1,Albania,1987,0,4,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,2
2,Albania,1987,1,2,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,4
3,Albania,1987,0,6,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,1
4,Albania,1987,0,3,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,3

In [ ]:
df['GDP'] = df['gdp_for_year ($)'].str.replace(",", "")
df['GDP'] = df['GDP'].astype(int)
df = df.drop("HDI for year", 1)
df = df.drop("gdp_for_year ($)", 1)
df['GDP_per_capita'] = df['gdp_per_capita ($)']
df = df.drop("gdp_per_capita ($)", 1)

In [ ]:
data_df.head()

In [ ]:
target.head()

In [ ]:
from sklearn.feature_extraction import FeatureHasher

In [ ]:
h = FeatureHasher(n_features=7, input_type = 'string')
h.fit(df['country'])
f = h.transform(df['country'])
c = f.toarray()
print(c)

In [ ]:
c = f.toarray()

In [ ]:
c_df = pd.DataFrame(data = c, columns = ['country_number'])
print(c_df)

In [ ]:
c_df['country'] = df['country']
print(c_df)

In [ ]:
data_df.merge(c_df)

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(c_df['country_number'])

In [ ]:
con = c_df['country_number'] == 2
c_df[con]

In [ ]:
c_df['country'][25719]

In [ ]:
data_df